body{ font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: #777777;
      line-height: 34px;
      margin-bottom: 2em;
       background: url("images/concrete_seamless.png");
   }


   /* universal box-sizing */
* { box-sizing: border-box;
}


header{ 
        padding-bottom: 5.5em;
	      margin-bottom: 0.8em;
        border-bottom: 3px solid #cccccc;
        width: 100%;
        background-color: white;
    
} 


#name{ float: left;
       display: block;
       background-color: #AC81DF;
       color: #ffffff;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 30px;
       font-weight: bold;
       padding: 0 20px;
       line-height: 90px;
       margin-left: 300px;
       text-decoration: none;
     
}


h1{ font-family: Georgia, 'Times New Roman', Times, serif;
    color:#AC81DF;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}


.pages{ width: 960px;
            margin: 0 auto;
            clear: both;
            overflow: hidden;
}

#relative{ 
             width: 960px;
	           margin: 40px 300px;
	            padding: 20px;
	           background-color: #ffffff;
             border: 3px solid #dddddd;
          
}


/* sticky footer */

.footer{
        z-index: 1000;
        position: fixed;
        text-align: center;
        background-color: #777777;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #ffffff;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 2px;
        border-top: 8px solid #AC81DF;       
}



/* Horizontal Navigation Bar */
nav{ float: right;
     margin-right: 314px;
     padding: 10px;
}

/* styling ul elements */
nav ul { display: block;   
}

/* styling li elements nested inside ul element */
nav ul li { display: inline-block;
            line-height: 80px;
}

/* text & color */
nav ul li a { 	text-decoration: none;
	              color: #777777;
                margin: 0px 20px 0px 1px;
                line-height: 20px;
	              padding-left: 20px;
                border-left: 1px solid #dddddd;
                list-style-type: none;
}

/* first-child selector; style a element */
nav ul li:first-child a { border-left: 0;
}



/* Contact Page */

#user{border: 2px solid #cccccc;
      height: 40px;
      width: 920px;
}

#email{border: 2px solid #cccccc;
       height: 40px;
       width: 920px;
}

#message{border: 2px solid #cccccc;
         height: 80px;
         width: 920px;
}

#button{ font-family: Arial, Helvetica, sans-serif;
         background-color: #AC81DF;
	       color: #ffffff;
         padding: 1em 2em;
         font-size: 1em;
         margin: 0 auto;
}



/* Portfolio Page */

#container {margin: 40px 300px;

}

.wrapper {
	width: 960px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

.section {
	background-color: #ffffff;
	padding: 30px;
  border: 3px solid #dddddd;
  height: 760px;
}

#portfolio {
  float: left;
  margin-right: 20px;
  width: 960px;

}

.image { position: relative;
         float: left;
         width: 274px;
         margin: 2px 0 10px;  
}

/* To style the second and fourth pics on the left */
.image:nth-child(even) {
  margin-right: 40px;
}


.image img{ width: 100%;
            border: 0 none;
  } 

.image h3 {
  position: absolute;
  bottom: 30px;
  line-height: 5px;
  width: 100%;
  padding: 15px;
  color: #fff;
  text-align: center;
  background: #AC81DF;
  font-family: "Georgia";
  font-size: 20px;
}


/*Media Queries */

@media only screen and (max-width: 980px) {
  body {
    position: static;
  }

  header {
    width: 980px;
  }

  #name {
    width: 250px;
    margin-left: 50px;
  }

  nav {
    margin-right: 100px;
  }

  #relative {
    width: 390px;
    margin-left: 130px;
  }

  .image {
    width: 40%;
  }

  .image:nth-child(even) {
    float: left;
  }

  footer {
    width: 980px;
  }

}

@media only screen and (max-width: 768px) {

  #name {
    position: static;
    width: 256px;
  }

  nav {
   /* margin-right: 20px;
    margin-bottom: 20px;*/
    width: 420px;
  }

  .section {
    position: static;
    width: 685px;
    margin-right: 35px;
    margin-left: 35px;
  }

  .sidebar {
    position: static;
    width: 685px;
    float: left;
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
  }

  .profile {
    position: static;
    width: 50%;
  }

  .image {
    width: 290px;
  }

  footer {
    width: 768px;
  }

}

@media only screen and (max-width: 640px) {
  header { 
    position: static;
   }

   #name {
    position: static;
    width: 100%;
    margin: 0;
  }

  nav {
    position: static;
    width: 640px;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding-left: 155px;
    text-align: center;
  }

  nav a {
    padding: 0px 40px;
  }

  .section {
    position: static;
    width: 550px;
    margin: 35px;
    margin-bottom: 0px;
  }

  .profile {
    position: static;
    width: 100%;
  }

  .image {
    width: 40%;
  }

  footer {
    width: 640px;
  }
  
}











